.dashboard-container {
    display: flex;
  }
  
  .dashboard-content {
    flex-grow: 1;
    padding: 20px;
  }
  
  .search-bar {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    margin-bottom: 20px;
  }
  
  .search-bar-item {
    width: 250px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 1rem;
    background-color: white;
    cursor: pointer;
  }
  
  .search-bar-item:focus {
    outline: none;
    border-color: #2575fc;
    box-shadow: 0 0 5px rgba(106, 17, 203, 0.5);
  }
  
  .search-input {
    width: 70%;
  }
  
  .reservation-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .reservation-card {
    background: linear-gradient(to top, #3d2d3e, #28344d);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    color: #c1bcbc;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
  }
  
  .reservation-card:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
  }

  .reservation-card-focused {
    background: linear-gradient(to top, #6a11cb, #2575fc); 
    color: white;
    pointer-events: auto;
  }
  
  .button-group {
    display: flex;
    gap: 10px;
  }
  
  .accept-button,
  .reject-button {
    background-color: #2575fc;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .accept-button:hover,
  .reject-button:hover {
    background-color: #6a11cb;
  }
  
  .accept-button:focus,
  .reject-button:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(37, 117, 252, 0.8);
  }
  
  .reject-button {
    background-color: #ec0707;
  }
  
  .reject-button:hover {
    background-color: #c600009f;
  }
  
  .accept-button:disabled,
  .reject-button:disabled {
    background-color: #414141;
    cursor: not-allowed;
  }
