.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: linear-gradient(to right, #6a11cb, #2575fc); /* Gradient background */
  color: white;
  font-family: 'Arial', sans-serif;
  text-align: center;
}

.content-container {
  flex: 1;
  padding: 20px;
}
